*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #212121;
    margin: 0px;
    color: #eee;
}

#digraph-ui {
    display: flex;
    width: 100%;
    height: 100vh;
}

#digraph-file-tree {
    width: 300px;
    order: 1;
}

#digraph-file-tree .tree-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#digraph-file-tree .tree-container li>div:first-child:hover {
    background: rgba(0,0,0,0.05);
}

#digraph-file-tree .tree-searchbox {
    padding: 12px;
}

#digraph-container {
    order: 4;
    width: 100%;
    height: 100%;
}

.digraph-editor {
    font-family: monospace;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 15px;
}

.digraph-editor .public-DraftEditor-content {
    max-height: 500px;
    overflow: auto;
}

.digraph-editor-line {
    position: relative;
}

.digraph-editor-line::before {
    content: attr(data-line-number);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.digraph-editor-line-text {
    margin-left: 2.5em;
}

.digraph-form input[type=text], .digraph-form input[type=number] {
    padding: 10px;
    font-size: large;
    border: 1px #616161 solid;
    border-radius: 6px;
    background: #424242;
    color: #eee;
}

.digraph-form .short-w {
    width: 100px;
}

.digraph-form .medium-w {
    width: 300px;
}

.digraph-form .long-w {
    width: 600px;
}

.digraph-form label {
    font-weight: bold;
    font-size: larger;
    margin-right: 9px;
}

.digraph-form .form-label {
    margin-bottom: 10px;
    margin-top: 20px;
}

.digraph-form .form-label .error {
    color: red;
    font-style: oblique;
}

.digraph-form .react-monaco-editor-container {
    border: 1px solid #616161;
    width: 852px;
    height: 422px;
}

.digraph-form .branch-form {
    position: relative;
    border: 1px solid #ccc;
    padding: 25px;
    margin-right: 10px;
    margin-bottom: 18px;
    border-radius: 6px
}

.dialog-form-header {
    display: flex;
}

.dialog-form-header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.close-button {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    color: white;
    border: none;
    background-color: #F44336;
}

.submit-button {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    color: white;
    border: none;
    background-color: #8BC34A;
}

.flex-auto {
    flex: auto;
}

.margin-l-s {
    margin-left: 8px;
}

.digraph-dialog-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

#digraph-cytoscape {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid rgba(0,0,0,.1);
}

.row-flex-container {
    display: flex;
    flex-direction: row;
}

.column-flex-container {
    display: flex;
    flex-direction: column;
}

#welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#welcome-page {
    width: 50%;
}